streamlit
pandas
python-dotenv
langchain
langchain-openai
langchain-community
langchain-text-splitters
openai
chromadb
pypdf
python-docx
unstructured
openpyxl
streamlit-pdf-viewer
truststore
langchain==0.2.16
langchain-openai==0.1.23
langchain-community==0.2.16
langchain-text-splitters==0.2.2
